In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/kimsinwoo/Desktop/ddd/MultiCampus/MiniPJT/data/20230911_인코딩완료.csv')

In [3]:
df

,매출,기준_년_코드,상권_구분_코드_명,상권_코드,상권_코드_명,점포수,시간대1,시간대2,시간대3,시간대4,...,배후지_아파트_가격_1_억_세대_수,배후지_아파트_가격_2_억_세대_수,배후지_아파트_가격_3_억_세대_수,배후지_아파트_가격_4_억_세대_수,배후지_아파트_가격_5_억_세대_수,배후지_아파트_가격_6_억_이상_세대_수,시간대_버스_승하차승객수,시간대_지하철_승하차승객수,버스정류장_수,지하철역_수
0,125163.15020,2020,골목상권,2110949,한남IC,6,1,0,0,0,...,259.0,163.0,64.0,52.0,42.0,1802.0,0,0,0,0
1,94688.22344,2020,골목상권,2110951,신사은행나무공원,3,1,0,0,0,...,436.0,309.0,119.0,81.0,68.0,109.0,0,0,0,0
2,177736.46150,2020,골목상권,2110952,논현목련공원,3,1,0,0,0,...,780.0,964.0,124.0,151.0,82.0,138.0,0,0,0,0
3,34587.75458,2020,골목상권,2110954,국기원,3,1,0,0,0,...,285.0,226.0,67.0,49.0,50.0,68.0,0,0,0,0
4,221061.48320,2020,골목상권,2110955,논현초등학교,30,1,0,0,0,...,2312.0,1553.0,325.0,262.0,204.0,286.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5479,201683.59780,2022,골목상권,2110994,개포고등학교,3,0,0,0,0,...,58.0,99.0,91.0,42.0,12.0,1372.0,0,0,0,0
5480,468795.99920,2022,발달상권,2120210,선릉역,39,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,125560,907321,6,1
5481,244665.79960,2022,발달상권,2120188,압구정역,16,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,154697,460651,6,1
5482,259723.91590,2022,발달상권,2120186,가로수길,15,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,87513,0,2,0
5483,323714.92510,2022,발달상권,2120198,구역삼세무서,19,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,57543,0,7,0

In [6]:
golmok_df = df[df['상권_구분_코드_명']=='골목상권']

In [7]:
cols_bae = ['배후지_아파트_단지_수',
       '배후지_아파트_가격_1_억_미만_세대_수', '배후지_아파트_가격_1_억_세대_수', '배후지_아파트_가격_2_억_세대_수',
       '배후지_아파트_가격_3_억_세대_수', '배후지_아파트_가격_4_억_세대_수', '배후지_아파트_가격_5_억_세대_수',
       '배후지_아파트_가격_6_억_이상_세대_수']

In [9]:
for col in cols_bae:
    col_mean = golmok_df[col].mean()
    df[col].fillna(col_mean, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5484 entries, 0 to 5483
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   매출                      5484 non-null   float64
 1   기준_년_코드                 5484 non-null   int64
 2   상권_구분_코드_명              5484 non-null   object
 3   상권_코드                   5484 non-null   int64
 4   상권_코드_명                 5484 non-null   object
 5   점포수                     5484 non-null   int64
 6   시간대1                    5484 non-null   int64
 7   시간대2                    5484 non-null   int64
 8   시간대3                    5484 non-null   int64
 9   시간대4                    5484 non-null   int64
 10  시간대5                    5484 non-null   int64
 11  분기_1                    5484 non-null   int64
 12  분기_2                    5484 non-null   int64
 13  분기_3                    5484 non-null   int64
 14  총 상주인구 수                5484 non-null   int64
 15  총 가구 수                  5484 non-null   int64
 16  총_직장인구_수                5484 non-null   int64
 17  아파트_단지_수                5484 non-null   int64
 18  아파트_가격_1_억_미만_세대_수      5484 non-null   int64
 19  아파트_가격_1_억_세대_수         5484 non-null   int64
 20  아파트_가격_2_억_세대_수         5484 non-null   int64
 21  아파트_가격_3_억_세대_수         5484 non-null   int64
 22  아파트_가격_4_억_세대_수         5484 non-null   int64
 23  아파트_가격_5_억_세대_수         5484 non-null   int64
 24  아파트_가격_6_억_이상_세대_수      5484 non-null   int64
 25  총_생활인구_수                5484 non-null   int64
 26  시간대_생활인구_수              5484 non-null   int64
 27  월요일_생활인구_수              5484 non-null   int64
 28  화요일_생활인구_수              5484 non-null   int64
 29  수요일_생활인구_수              5484 non-null   int64
 30  목요일_생활인구_수              5484 non-null   int64
 31  금요일_생활인구_수              5484 non-null   int64
 32  토요일_생활인구_수              5484 non-null   int64
 33  일요일_생활인구_수              5484 non-null   int64
 34  집객시설_수                  5484 non-null   int64
 35  관공서_수                   5484 non-null   int64
 36  은행_수                    5484 non-null   int64
 37  백화점_수                   5484 non-null   int64
 38  숙박_시설_수                 5484 non-null   int64
 39  area                    5484 non-null   int64
 40  연령대_10_생활인구_수           5484 non-null   int64
 41  연령대_20_생활인구_수           5484 non-null   int64
 42  연령대_30_생활인구_수           5484 non-null   int64
 43  연령대_40_생활인구_수           5484 non-null   int64
 44  연령대_50_생활인구_수           5484 non-null   int64
 45  연령대_60_이상_생활인구_수        5484 non-null   int64
 46  배후지_아파트_단지_수            5484 non-null   float64
 47  배후지_아파트_가격_1_억_미만_세대_수  5484 non-null   float64
 48  배후지_아파트_가격_1_억_세대_수     5484 non-null   float64
 49  배후지_아파트_가격_2_억_세대_수     5484 non-null   float64
 50  배후지_아파트_가격_3_억_세대_수     5484 non-null   float64
 51  배후지_아파트_가격_4_억_세대_수     5484 non-null   float64
 52  배후지_아파트_가격_5_억_세대_수     5484 non-null   float64
 53  배후지_아파트_가격_6_억_이상_세대_수  5484 non-null   float64
 54  시간대_버스_승하차승객수           5484 non-null   int64
 55  시간대_지하철_승하차승객수          5484 non-null   int64
 56  버스정류장_수                 5484 non-null   int64
 57  지하철역_수                  5484 non-null   int64
dtypes: float64(9), int64(47), object(2)
memory usage: 2.4+ MB

In [12]:
df.to_csv('/Users/kimsinwoo/Desktop/ddd/MultiCampus/MiniPJT/data/20230914_인코딩완료.csv', encoding = 'utf-8-sig',index = False)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5484 entries, 0 to 5483
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   매출                      5484 non-null   float64
 1   기준_년_코드                 5484 non-null   int64
 2   상권_구분_코드_명              5484 non-null   object
 3   상권_코드                   5484 non-null   int64
 4   상권_코드_명                 5484 non-null   object
 5   점포수                     5484 non-null   int64
 6   시간대1                    5484 non-null   int64
 7   시간대2                    5484 non-null   int64
 8   시간대3                    5484 non-null   int64
 9   시간대4                    5484 non-null   int64
 10  시간대5                    5484 non-null   int64
 11  분기_1                    5484 non-null   int64
 12  분기_2                    5484 non-null   int64
 13  분기_3                    5484 non-null   int64
 14  총 상주인구 수                5484 non-null   int64
 15  총 가구 수                  5484 non-null   int64
 16  총_직장인구_수                5484 non-null   int64
 17  아파트_단지_수                5484 non-null   int64
 18  아파트_가격_1_억_미만_세대_수      5484 non-null   int64
 19  아파트_가격_1_억_세대_수         5484 non-null   int64
 20  아파트_가격_2_억_세대_수         5484 non-null   int64
 21  아파트_가격_3_억_세대_수         5484 non-null   int64
 22  아파트_가격_4_억_세대_수         5484 non-null   int64
 23  아파트_가격_5_억_세대_수         5484 non-null   int64
 24  아파트_가격_6_억_이상_세대_수      5484 non-null   int64
 25  총_생활인구_수                5484 non-null   int64
 26  시간대_생활인구_수              5484 non-null   int64
 27  월요일_생활인구_수              5484 non-null   int64
 28  화요일_생활인구_수              5484 non-null   int64
 29  수요일_생활인구_수              5484 non-null   int64
 30  목요일_생활인구_수              5484 non-null   int64
 31  금요일_생활인구_수              5484 non-null   int64
 32  토요일_생활인구_수              5484 non-null   int64
 33  일요일_생활인구_수              5484 non-null   int64
 34  집객시설_수                  5484 non-null   int64
 35  관공서_수                   5484 non-null   int64
 36  은행_수                    5484 non-null   int64
 37  백화점_수                   5484 non-null   int64
 38  숙박_시설_수                 5484 non-null   int64
 39  area                    5484 non-null   int64
 40  연령대_10_생활인구_수           5484 non-null   int64
 41  연령대_20_생활인구_수           5484 non-null   int64
 42  연령대_30_생활인구_수           5484 non-null   int64
 43  연령대_40_생활인구_수           5484 non-null   int64
 44  연령대_50_생활인구_수           5484 non-null   int64
 45  연령대_60_이상_생활인구_수        5484 non-null   int64
 46  배후지_아파트_단지_수            5484 non-null   float64
 47  배후지_아파트_가격_1_억_미만_세대_수  5484 non-null   float64
 48  배후지_아파트_가격_1_억_세대_수     5484 non-null   float64
 49  배후지_아파트_가격_2_억_세대_수     5484 non-null   float64
 50  배후지_아파트_가격_3_억_세대_수     5484 non-null   float64
 51  배후지_아파트_가격_4_억_세대_수     5484 non-null   float64
 52  배후지_아파트_가격_5_억_세대_수     5484 non-null   float64
 53  배후지_아파트_가격_6_억_이상_세대_수  5484 non-null   float64
 54  시간대_버스_승하차승객수           5484 non-null   int64
 55  시간대_지하철_승하차승객수          5484 non-null   int64
 56  버스정류장_수                 5484 non-null   int64
 57  지하철역_수                  5484 non-null   int64
dtypes: float64(9), int64(47), object(2)
memory usage: 2.4+ MB